name: CI-Docker

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.tags }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - context: .
            tags: vitasdk/vitasdk:latest
          - context: ./non-root
            tags: vitasdk/vitasdk:non-root

    steps:
    - uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      if: github.event_name != 'pull_request'

    - uses: docker/build-push-action@v6
      with:
        context: ${{ matrix.context }}
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ matrix.tags }}
